table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.color-box {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .color-box {
    width: 2rem;
    height: 2rem;
  }
}

/* 顏色樣式 */
.blue-700 {
  background-color: #235BAC;
}

.blue-500 {
  background-color: #5B8AC8;
}

.blue-1000 {
  background-color: #113F82;
}

.blue-50 {
  background-color: #EFF6FF;
}

.lightblue-700 {
  background-color: #1499DF;
}

.lightblue-500 {
  background-color: #58B6E7;
}

.lightblue-1000 {
  background-color: #0B6C9E;
}

.lightblue-50 {
  background-color: #E0EFF6;
}

.green-700 {
  background-color: #259D63;
}

.green-500 {
  background-color: #65BA91;
}

.green-800 {
  background-color: #1D8050;
}

.green-1000 {
  background-color: #0C472A;
}

.green-50 {
  background-color: #D1FAE5;
}

.cyan-700 {
  background-color: #008DA6;
}

.cyan-500 {
  background-color: #4EB0C2;
}

.cyan-1000 {
  background-color: #006173;
}

.cyan-50 {
  background-color: #E0F7FA;
}

.orange-700 {
  background-color: #FB5B01;
}

.orange-500 {
  background-color: #FC8C4C;
}

.orange-1000 {
  background-color: #6D2700;
}

.orange-50 {
  background-color: #FFEEE2;
}

.darkblue-1000 {
  background-color: #052149;
}

.darkblue-700 {
  background-color: #4F6481;
}

.darkblue-400 {
  background-color: #99A7BA;
}

.darkblue-50 {
  background-color: #F1F5F9;
}


.purple-500 {
  background-color: #B65FB5;

}

.purple-700 {
  background-color: #A440A3;

}



.purple-900 {
  background-color: #752176;

}




.yellow-700 {
  background-color: #B78F00;

}


.yellow-500 {
  background-color: #CFB145;

}


.yellow-900 {
  background-color: #927200;
}


.orange-700 {
  background-color: #FB5B01;
}

.orange-800 {
  background-color: #CC4A01;
}




.red-600 {
  background-color: #EF2525;

}


.red-800 {
  background-color: #CC0000;

}





.red-800 //--------


.color_ticket {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}



.color_ticket-dark {
  background-color: #1A1A1C;



}



//-----------------
.button-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.button-table th,
.button-table td {
  padding: 15px;
  text-align: left;
}

th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

.btn {
  padding: 4px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.color-info {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 3px;
}

.blue-default {
  background-color: #1E73E8;
  /* Blue-700 */
  color: #FFFFFF;
}

.blue-hover {
  background-color: #4A90E2;
  /* Blue-500 */
  color: #FFFFFF;
}

.blue-active {
  background-color: #0B3D91;
  /* Blue-1000 */
  color: #FFFFFF;
}

.dark-blue-default {
  background-color: #0B2545;
  /* Dark Blue-1000 */
  color: #FFFFFF;
}

.dark-blue-hover {
  background-color: #3C5A73;
  /* Dark Blue-700 */
  color: #FFFFFF;
}

.dark-blue-active {
  background-color: #7B98B1;
  /* Dark Blue-400 */
  color: #FFFFFF;
}

.cyan-default {
  background-color: #0097A7;
  /* Cyan-700 */
  color: #FFFFFF;
}

.cyan-hover {
  background-color: #00ACC1;
  /* Cyan-500 */
  color: #FFFFFF;
}

.cyan-active {
  background-color: #00796B;
  /* Cyan-1000 */
  color: #FFFFFF;
}

span {
  margin-right: 10px;
  font-size: 14px;
}