.txt-8 {
  border-style: solid;
  border-width: 0px;
  font-size: 8px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
  line-height: 1.5;

}

.txt-8-B {
  border-style: solid;
  border-width: 0px;
  font-size: 8px;
  font-weight: bold;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
  line-height: 1.5;
}


.txt-10 {
  border-style: solid;
  border-width: 0px;
  font-size: 10px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
  line-height: 1.5;

}

.txt-10-B {
  border-style: solid;
  border-width: 0px;
  font-size: 10px;
  font-weight: bold;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
  line-height: 1.5;

}