@charset "UTF-8";
.txt-8 {
  border-style: solid;
  border-width: 0px;
  font-size: 0.5rem;
  font-weight: normal;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-8-B {
  border-style: solid;
  border-width: 0px;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-12 {
  border-style: solid;
  border-width: 0px;
  font-size: 12px;
  font-weight: normal;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-12-B {
  border-style: solid;
  border-width: 0px;
  font-size: 12px;
  font-weight: bold;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-16 {
  border-style: solid;
  border-width: 0px;
  font-size: 1rem;
  font-weight: normal;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-16-B {
  border-style: solid;
  border-width: 0px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-20 {
  border-style: solid;
  border-width: 0px;
  font-size: 1.25rem;
  font-weight: normal;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-20-B {
  border-style: solid;
  border-width: 0px;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-24 {
  border-style: solid;
  border-width: 0px;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-24-B {
  border-style: solid;
  border-width: 0px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-28 {
  border-style: solid;
  border-width: 0px;
  font-size: 1.8rem;
  font-weight: normal;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-28-B {
  border-style: solid;
  border-width: 0px;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-32 {
  border-style: solid;
  border-width: 0px;
  font-size: 2rem;
  font-weight: normal;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-32-B {
  border-style: solid;
  border-width: 0px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-40 {
  border-style: solid;
  border-width: 0px;
  font-size: 3rem;
  font-weight: normal;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-40-B {
  border-style: solid;
  border-width: 0px;
  font-size: 3rem;
  font-weight: bold;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.txt-default {
  border-style: solid;
  border-width: 0px;
  font-size: 16px;
  font-weight: normal;
  padding: 0px;
  margin: 2px 0;
  line-height: 1.5;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}

.title-01 {
  padding: 20px 0 0 0;
}

.title-02 {
  padding: 60px 0 0 0;
}

.cdo {
  font-size: 8px;
}

.text-container {
  width: 100%;
  max-height: 560px;
  overflow-y: auto;
  /* 允許垂直滾動 */
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.txt-white {
  color: #FFFFFF;
}

.index .bg-txt {
  padding: 40px 0 0 0;
}
.index .bg-txt p {
  text-align: center;
}
.index .bg-img {
  display: flex;
  justify-content: center;
  padding: 150px 0 0 0;
}
.index .bg-img .img {
  width: 122px;
  height: 364px;
  background-image: url(../img/bg-02.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.index .ba-img-01 {
  background-image: url(../img/bg-01.png);
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 240px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.color-box {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .color-box {
    width: 2rem;
    height: 2rem;
  }
}
/* 顏色樣式 */
.blue-700 {
  background-color: #235BAC;
}

.blue-500 {
  background-color: #5B8AC8;
}

.blue-1000 {
  background-color: #113F82;
}

.blue-50 {
  background-color: #EFF6FF;
}

.lightblue-700 {
  background-color: #1499DF;
}

.lightblue-500 {
  background-color: #58B6E7;
}

.lightblue-1000 {
  background-color: #0B6C9E;
}

.lightblue-50 {
  background-color: #E0EFF6;
}

.green-700 {
  background-color: #259D63;
}

.green-500 {
  background-color: #65BA91;
}

.green-800 {
  background-color: #1D8050;
}

.green-1000 {
  background-color: #0C472A;
}

.green-50 {
  background-color: #D1FAE5;
}

.cyan-700 {
  background-color: #008DA6;
}

.cyan-500 {
  background-color: #4EB0C2;
}

.cyan-1000 {
  background-color: #006173;
}

.cyan-50 {
  background-color: #E0F7FA;
}

.orange-700 {
  background-color: #FB5B01;
}

.orange-500 {
  background-color: #FC8C4C;
}

.orange-1000 {
  background-color: #6D2700;
}

.orange-50 {
  background-color: #FFEEE2;
}

.darkblue-1000 {
  background-color: #052149;
}

.darkblue-700 {
  background-color: #4F6481;
}

.darkblue-400 {
  background-color: #99A7BA;
}

.darkblue-50 {
  background-color: #F1F5F9;
}

.purple-500 {
  background-color: #B65FB5;
}

.purple-700 {
  background-color: #A440A3;
}

.purple-900 {
  background-color: #752176;
}

.yellow-700 {
  background-color: #B78F00;
}

.yellow-500 {
  background-color: #CFB145;
}

.yellow-900 {
  background-color: #927200;
}

.orange-700 {
  background-color: #FB5B01;
}

.orange-800 {
  background-color: #CC4A01;
}

.red-600 {
  background-color: #EF2525;
}

.red-800 {
  background-color: #CC0000;
}

.white {
  background-color: #ffffff;
}

.white-border {
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
  /* 实线边框 */
}

.grey-200 {
  background-color: #CCCCCC;
}

.grey-400 {
  background-color: #999999;
}

.grey-500 {
  background-color: #7F7F7F;
}

.grey-600 {
  background-color: #666666;
}

.grey-800 {
  background-color: #333333;
}

.black {
  background-color: #000000;
}

.color_ticket {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.color_ticket-dark {
  background-color: #1A1A1C;
}

.button-table {
  width: 100%;
  border-collapse: collapse;
}

.button-table th,
.button-table td {
  padding: 15px;
  text-align: left;
}

th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

.color-info {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
  flex-direction: column;
}
.color-info .color-info-top,
.color-info .color-info-below {
  display: flex;
  margin: 2px 0;
}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 3px;
}

.blue-default {
  background-color: #235BAC;
  /* Blue-700 */
  color: #FFFFFF;
}

.blue-hover {
  background-color: #4A90E2;
  /* Blue-500 */
  color: #FFFFFF;
}

.blue-active {
  background-color: #0B3D91;
  /* Blue-1000 */
  color: #FFFFFF;
}

.dark-blue-default {
  background-color: #0B2545;
  /* Dark Blue-1000 */
  color: #FFFFFF;
}

.dark-blue-hover {
  background-color: #3C5A73;
  /* Dark Blue-700 */
  color: #FFFFFF;
}

.dark-blue-active {
  background-color: #7B98B1;
  /* Dark Blue-400 */
  color: #FFFFFF;
}

.cyan-default {
  background-color: #0097A7;
  /* Cyan-700 */
  color: #FFFFFF;
}

.cyan-hover {
  background-color: #ffffff;
  /* Cyan-500 */
  color: #00ACC1;
  border: 1px solid #00ACC1;
  /* 实线边框 */
}

.cyan-active {
  background-color: #E0F7FA;
  /* Cyan-1000 */
  color: #00796B;
  border: 1px solid #00796B;
  /* 实线边框 */
}

span {
  margin-right: 10px;
  font-size: 14px;
}

/* 藍色按鈕的不同狀態 */
.btn-blue {
  background-color: #235BAC;
  /* default: Blue-700 */
  color: #ffffff;
}

.btn-blue:hover {
  background-color: #5B8AC8;
  /* hover: Blue-500 */
  color: #ffffff;
}

.btn-blue:active {
  background-color: #113F82;
  /* active: Blue-1000 */
  color: #ffffff;
}

.btn-darkblue {
  background-color: #052149;
  /* default: Blue-700 */
  color: #ffffff;
}

.btn-darkblue:hover {
  background-color: #4F6481;
  /* hover: Blue-500 */
  color: #ffffff;
}

.btn-darkblue:active {
  background-color: #99A7BA;
  /* active: Blue-1000 */
  color: #ffffff;
}

.btn-cyan {
  background-color: #008DA6;
  /* default: Blue-700 */
  color: #ffffff;
  border: 1px solid rgba(0, 121, 107, 0);
}

.btn-cyan:hover {
  background-color: #ffffff;
  /* Cyan-500 */
  color: #00ACC1;
  border: 1px solid #00ACC1;
  /* 实线边框 */
}

.btn-cyan:active {
  background-color: #E0F7FA;
  /* Cyan-1000 */
  color: #00796B;
  border: 1px solid #00796B;
  /* 实线边框 */
}

.btn {
  padding: 8px 24px;
  border: none;
  border-radius: 5px;
  font-size: clamp(0.6rem, 2vw, 1rem);
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  /* 平滑過渡 */
}

.btn-blue-style01 {
  background-color: #235BAC;
  /* default: Blue-700 */
  color: #ffffff;
  border: 1px solid rgba(35, 92, 172, 0);
}

.btn-blue-style01:hover {
  background-color: #5B8AC8;
  /* hover: Blue-500 */
  color: #ffffff;
  border: 1px solid rgba(35, 92, 172, 0);
}

.btn-blue-style01:active {
  background-color: #113F82;
  /* active: Blue-1000 */
  color: #ffffff;
  border: 1px solid rgba(35, 92, 172, 0);
}

.btn-blue-style02 {
  background-color: #235BAC;
  /* default: Blue-700 */
  color: #ffffff;
  border: 1px solid rgba(35, 92, 172, 0);
}

.btn-blue-style02:hover {
  background-color: #ffffff;
  /* hover: Blue-500 */
  color: #235BAC;
  border: 1px solid #235BAC;
}

.btn-blue-style02:active {
  background-color: #E8EFFA;
  /* hover: Blue-500 */
  color: #235BAC;
  border: 1px solid #235BAC;
}

.btn-blue-style03 {
  background-color: #ffffff;
  /* hover: Blue-500 */
  color: #235BAC;
  border: 1px solid #235BAC;
}

.btn-blue-style03:hover {
  background-color: #E8EFFA;
  /* hover: Blue-500 */
  color: #235BAC;
  border: 1px solid #235BAC;
}

.btn-blue-style03:active {
  background-color: #235BAC;
  /* default: Blue-700 */
  color: #ffffff;
  border: 1px solid rgba(35, 92, 172, 0);
}

.btn-lightblue-style01 {
  background-color: #1499DF;
  /* default: Blue-700 */
  color: #ffffff;
  border: 1px solid rgba(35, 92, 172, 0);
}

.btn-lightblue-style01:hover {
  background-color: #58B6E7;
  /* hover: Blue-500 */
  color: #ffffff;
  border: 1px solid rgba(35, 92, 172, 0);
}

.btn-lightblue-style01:active {
  background-color: #0B6C9E;
  /* active: Blue-1000 */
  color: #ffffff;
  border: 1px solid rgba(35, 92, 172, 0);
}

.btn-lightblue-style02 {
  background-color: #58B6E7;
  /* default: Blue-700 */
  color: #ffffff;
  border: 1px solid rgba(35, 92, 172, 0);
}

.btn-lightblue-style02:hover {
  background-color: #ffffff;
  /* hover: Blue-500 */
  color: #58B6E7;
  border: 1px solid #58B6E7;
}

.btn-lightblue-style02:active {
  background-color: #E0EFF6;
  /* hover: Blue-500 */
  color: #0B6C9E;
  border: 1px solid #0B6C9E;
}

.btn-lightblue-style03 {
  background-color: #ffffff;
  /* hover: Blue-500 */
  color: #58B6E7;
  border: 1px solid #58B6E7;
}

.btn-lightblue-style03:hover {
  background-color: #E0EFF6;
  /* hover: Blue-500 */
  color: #0B6C9E;
  border: 1px solid #0B6C9E;
}

.btn-lightblue-style03:active {
  background-color: #58B6E7;
  /* default: Blue-700 */
  color: #ffffff;
  border: 1px solid rgba(35, 92, 172, 0);
}

.header {
  background-color: #ececec;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 80px 0;
}
.header p {
  font-size: 20px;
  font-family: "Noto Serif TC", serif;
  font-weight: revert;
  letter-spacing: 8px;
  color: #7F8B75;
}

.navbar {
  background-color: #7F8B75;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #7F8B75;
}

/* 其他頁面有margin-top */
.page .footer {
  margin-top: 80px;
}

/* 首頁不需要margin-top */
.home .footer {
  margin-top: 0;
}

.combination {
  border: 1px solid #bfbfbf;
  /* 实线边框 */
  border-radius: 8px;
  /* 20像素的圆角 */
  background-color: #E1E6E0;
  margin: 0 0 32px 0;
  padding: 4px;
}
.combination .row {
  display: flex;
}
.combination .example {
  padding: 4px;
}
.combination .cod {
  padding: 10px;
  background-color: #F8F9FA;
  font-size: 10px;
}

.navbar-brand {
  font-family: "Noto Serif TC", serif;
  font-size: 16px;
  color: #ffffff;
}

.offcanvas .offcanvas-body .navbar-nav .nav-item {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* 重置所有元素的邊距、內距、邊框、字體大小、字體及垂直對齊基準 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 將HTML5新增的語意元素設定為區塊元素 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 設定整個文件的行高為1，避免不必要的行高差異 */
body {
  line-height: 1;
}

/* 清除有序列表和無序列表的預設樣式 */
ol,
ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  /* 去除底線 */
  color: inherit;
  /* 使用父元素的文字顏色 */
}

/* 清除引用樣式的引號 */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 清除表格的邊框塌陷和單元格間的間距 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-size: 16px;
  font-family: "NotoSansTc-Regular", sans-serif;
  color: #333333;
}/*# sourceMappingURL=style.css.map */